{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}


{% block body %}
<div class="container">
<div class="col-sm-6">
    <form class="form-signin" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >


           {#Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html#}

            <div class="checkbox mb-lg-6">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>


        <button class="btn btn-md btn-primary" type="submit">
            Sign in
        </button>
		<i>Not a member ? </i>
	 <button class="btn btn-md btn-warning" type="submit">
            <a href="{{path('app_register')}}">Register</a>
        </button>
       
    </form>
	</div>
	</div>
{% endblock %}
