{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
            
            <h1>{{ article.title }}</h1>
                
                <p><td>{{ article.date ? article.date|date('Y-m-d H:i:s') : '' }}</p>
        
           
                Par : <i>{{ article.author }}</i>
				<br />
				{% if article.cities | length > 0 %}
				{% for city in article.cities %}
				<p>Ces articles existent au {{ city.name }}</p>
				{% endfor %}
				{% endif %}
            
             
               
                <p class="well">{{ article.content }}</p>
				
       
                
           


    <a href="{{ path('homepage') }}">back to home</a>

    {#<a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>

    {{ include('article/_delete_form.html.twig') }}#}
{% endblock %}
