{% extends 'base.html.twig' %}
{% block title %} {{ product.name }} {% endblock %}

{% block body %}
{{form_start(form)}}
<div class="row">
<div class="col-sm-3">{{form_row(form.name)}}</div>
<div class="col-sm-3">{{form_row(form.price)}}</div>
</div>
<div class="row">
<div class="col-sm-3">{{form_row(form.description)}}</div>
</div>
<div class="row">
<div class="col-sm-3">{{form_row(form.image)}}</div>
</div>

{{ form_rest(form) }}

     {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}




{% endblock %}
