{{form_start(form)}}
<div class="row">
<div class="col-sm-4">{{form_row(form.title)}}</div>
<div class="col-sm-4">{{form_row(form.author)}}</div>
</div>

<div class="row">
<div class="col-sm-4">{{form_row(form.content)}}</div>
<div class="col-sm-4">{{form_row(form.heartCount)}}</div>
</div>
<div class="row">
<div class="col-sm-4">{{form_row(form.image)}}</div>
</div>

{{ form_rest(form) }}

     {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
